<!DOCTYPE html>
<html lang="">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>

  <link rel="stylesheet" href="./css/default.css">
  <script src="./js/script.js"></script>
  
</head>
<body>

<div class="no">
<div class="no-2">svg</div>
</div>

{#svg}{#normal}
  <div class="row">
    <span class="{common} {common}-tiny {common}-{name}"></span>
    <span class="{common} {common}-small {common}-{name}"></span>
    <span class="{common} {common}-{name}"></span>
    <span class="{common} {common}-big {common}-{name}"></span>
  </div> 
{/normal}{/svg}

</body>
</html>

