{# Twig template #}

<!DOCTYPE html>
<html lang="">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>

  <link rel="stylesheet" href="./css/default.css">
  <script src="./js/script.js"></script>
  
</head>
<body>

<div class="no">
<div class="no-2">svg</div>
</div>

<h1>Color icons using SVG sprites with PNG sprite fallback</h1>

{% for file in files %}
  <div class="row">
  {% for size in sizes %}
    <span class="icon-color icon-color-{{ file }} icon-color-{{ size }}"></span>
  {% endfor %}
  </div> 
{% endfor %}

</body>
</html>

