/*
.fontface .icon-mono.icon-mono-tiny {
  font-size: 16px;
}
.fontface .icon-mono.icon-mono-small {
  font-size: 24px;
}
.fontface .icon-mono {
  font-size: 32px;
}
.fontface .icon-mono.icon-mono-big {
  font-size: 48px;
}
*/
/* Sizes */
.icon-mono.icon-mono-tiny, .icon-color.icon-color-tiny {
  font-size: 18px; }

.icon-mono.icon-mono-small, .icon-color.icon-color-small {
  font-size: 24px; }

.icon-mono, .icon-color {
  font-size: 36px; }

.icon-mono.icon-mono-big, .icon-color.icon-color-big {
  font-size: 48px; }

/* Colors */
.icon-mono-black {
  color: #000; }

.icon-mono-white {
  color: white; }

.fontface .icon-mono-gray {
  color: #ccc; }

.no-fontface .icon-mono-gray {
  opacity: 0.8; }

.fontface .icon-mono-red {
  color: #f00; }

.no-fontface .icon-mono-red {
  opacity: 0.5; }

.fontface .icon-mono-green {
  color: #3eb006; }

.no-fontface .icon-mono-green {
  opacity: 0.35686; }

.fontface .icon-mono-blue {
  color: #5990da; }

.no-fontface .icon-mono-blue {
  opacity: 0.60196; }

.fontface .icon-mono-yellow {
  color: #f1c40f; }

.no-fontface .icon-mono-yellow {
  opacity: 0.50196; }

.no-fontface .icon-mono:before {
  content: ' ';
  vertical-align: middle;
  display: inline-block;
  background-image: url("../sprites/icons_monochrome.svg");
  background-repeat: no-repeat;
  background-size: 1.41667em 283.33333em; }

.no-fontface.no-svg .icon-mono:before {
  background-image: url("../sprites/icons_monochrome.png"); }

.no-fontface .icon-mono-addressbook:before {
  background-position: -0.20833em -0.20833em;
  width: 1em;
  height: 1em; }

.no-fontface .icon-mono-white.icon-mono-addressbook:before {
  background-position: -0.20833em -1.625em;
  width: 1em;
  height: 1em; }

.no-fontface .icon-mono-alarm:before {
  background-position: -0.20833em -3.04167em;
  width: 1em;
  height: 1em; }

.no-fontface .icon-mono-white.icon-mono-alarm:before {
  background-position: -0.20833em -4.45833em;
  width: 1em;
  height: 1em; }

.no-fontface .icon-mono-ampersand:before {
  background-position: -0.20833em -5.875em;
  width: 1em;
  height: 1em; }

.no-fontface .icon-mono-white.icon-mono-ampersand:before {
  background-position: -0.20833em -7.29167em;
  width: 1em;
  height: 1em; }

.no-fontface .icon-mono-apple:before {
  background-position: -0.20833em -8.70833em;
  width: 1em;
  height: 1em; }

.no-fontface .icon-mono-white.icon-mono-apple:before {
  background-position: -0.20833em -10.125em;
  width: 1em;
  height: 1em; }

.no-fontface .icon-mono-atom:before {
  background-position: -0.20833em -11.54167em;
  width: 1em;
  height: 1em; }

.no-fontface .icon-mono-white.icon-mono-atom:before {
  background-position: -0.20833em -12.95833em;
  width: 1em;
  height: 1em; }

.no-fontface .icon-mono-basket:before {
  background-position: -0.20833em -14.375em;
  width: 1em;
  height: 1em; }

.no-fontface .icon-mono-white.icon-mono-basket:before {
  background-position: -0.20833em -15.79167em;
  width: 1em;
  height: 1em; }

.no-fontface .icon-mono-battery:before {
  background-position: -0.20833em -17.20833em;
  width: 1em;
  height: 1em; }

.no-fontface .icon-mono-white.icon-mono-battery:before {
  background-position: -0.20833em -18.625em;
  width: 1em;
  height: 1em; }

.no-fontface .icon-mono-blocked:before {
  background-position: -0.20833em -20.04167em;
  width: 1em;
  height: 1em; }

.no-fontface .icon-mono-white.icon-mono-blocked:before {
  background-position: -0.20833em -21.45833em;
  width: 1em;
  height: 1em; }

.no-fontface .icon-mono-bolt:before {
  background-position: -0.20833em -22.875em;
  width: 1em;
  height: 1em; }

.no-fontface .icon-mono-white.icon-mono-bolt:before {
  background-position: -0.20833em -24.29167em;
  width: 1em;
  height: 1em; }

.no-fontface .icon-mono-bookmark:before {
  background-position: -0.20833em -25.70833em;
  width: 1em;
  height: 1em; }

.no-fontface .icon-mono-white.icon-mono-bookmark:before {
  background-position: -0.20833em -27.125em;
  width: 1em;
  height: 1em; }

.no-fontface .icon-mono-bookmark2:before {
  background-position: -0.20833em -28.54167em;
  width: 1em;
  height: 1em; }

.no-fontface .icon-mono-white.icon-mono-bookmark2:before {
  background-position: -0.20833em -29.95833em;
  width: 1em;
  height: 1em; }

.no-fontface .icon-mono-briefcase:before {
  background-position: -0.20833em -31.375em;
  width: 1em;
  height: 1em; }

.no-fontface .icon-mono-white.icon-mono-briefcase:before {
  background-position: -0.20833em -32.79167em;
  width: 1em;
  height: 1em; }

.no-fontface .icon-mono-bug:before {
  background-position: -0.20833em -34.20833em;
  width: 1em;
  height: 1em; }

.no-fontface .icon-mono-white.icon-mono-bug:before {
  background-position: -0.20833em -35.625em;
  width: 1em;
  height: 1em; }

.no-fontface .icon-mono-button:before {
  background-position: -0.20833em -37.04167em;
  width: 1em;
  height: 1em; }

.no-fontface .icon-mono-white.icon-mono-button:before {
  background-position: -0.20833em -38.45833em;
  width: 1em;
  height: 1em; }

.no-fontface .icon-mono-calendar:before {
  background-position: -0.20833em -39.875em;
  width: 1em;
  height: 1em; }

.no-fontface .icon-mono-white.icon-mono-calendar:before {
  background-position: -0.20833em -41.29167em;
  width: 1em;
  height: 1em; }

.no-fontface .icon-mono-camera:before {
  background-position: -0.20833em -42.70833em;
  width: 1em;
  height: 1em; }

.no-fontface .icon-mono-white.icon-mono-camera:before {
  background-position: -0.20833em -44.125em;
  width: 1em;
  height: 1em; }

.no-fontface .icon-mono-camera2:before {
  background-position: -0.20833em -45.54167em;
  width: 1em;
  height: 1em; }

.no-fontface .icon-mono-white.icon-mono-camera2:before {
  background-position: -0.20833em -46.95833em;
  width: 1em;
  height: 1em; }

.no-fontface .icon-mono-cancel:before {
  background-position: -0.20833em -48.375em;
  width: 1em;
  height: 1em; }

.no-fontface .icon-mono-white.icon-mono-cancel:before {
  background-position: -0.20833em -49.79167em;
  width: 1em;
  height: 1em; }

.no-fontface .icon-mono-cart:before {
  background-position: -0.20833em -51.20833em;
  width: 1em;
  height: 1em; }

.no-fontface .icon-mono-white.icon-mono-cart:before {
  background-position: -0.20833em -52.625em;
  width: 1em;
  height: 1em; }

.no-fontface .icon-mono-chart:before {
  background-position: -0.20833em -54.04167em;
  width: 1em;
  height: 1em; }

.no-fontface .icon-mono-white.icon-mono-chart:before {
  background-position: -0.20833em -55.45833em;
  width: 1em;
  height: 1em; }

.no-fontface .icon-mono-checkmark:before {
  background-position: -0.20833em -56.875em;
  width: 1em;
  height: 1em; }

.no-fontface .icon-mono-white.icon-mono-checkmark:before {
  background-position: -0.20833em -58.29167em;
  width: 1em;
  height: 1em; }

.no-fontface .icon-mono-clock:before {
  background-position: -0.20833em -59.70833em;
  width: 1em;
  height: 1em; }

.no-fontface .icon-mono-white.icon-mono-clock:before {
  background-position: -0.20833em -61.125em;
  width: 1em;
  height: 1em; }

.no-fontface .icon-mono-cloud:before {
  background-position: -0.20833em -62.54167em;
  width: 1em;
  height: 1em; }

.no-fontface .icon-mono-white.icon-mono-cloud:before {
  background-position: -0.20833em -63.95833em;
  width: 1em;
  height: 1em; }

.no-fontface .icon-mono-code:before {
  background-position: -0.20833em -65.375em;
  width: 1em;
  height: 1em; }

.no-fontface .icon-mono-white.icon-mono-code:before {
  background-position: -0.20833em -66.79167em;
  width: 1em;
  height: 1em; }

.no-fontface .icon-mono-coffee:before {
  background-position: -0.20833em -68.20833em;
  width: 1em;
  height: 1em; }

.no-fontface .icon-mono-white.icon-mono-coffee:before {
  background-position: -0.20833em -69.625em;
  width: 1em;
  height: 1em; }

.no-fontface .icon-mono-cog:before {
  background-position: -0.20833em -71.04167em;
  width: 1em;
  height: 1em; }

.no-fontface .icon-mono-white.icon-mono-cog:before {
  background-position: -0.20833em -72.45833em;
  width: 1em;
  height: 1em; }

.no-fontface .icon-mono-comment:before {
  background-position: -0.20833em -73.875em;
  width: 1em;
  height: 1em; }

.no-fontface .icon-mono-white.icon-mono-comment:before {
  background-position: -0.20833em -75.29167em;
  width: 1em;
  height: 1em; }

.no-fontface .icon-mono-compass:before {
  background-position: -0.20833em -76.70833em;
  width: 1em;
  height: 1em; }

.no-fontface .icon-mono-white.icon-mono-compass:before {
  background-position: -0.20833em -78.125em;
  width: 1em;
  height: 1em; }

.no-fontface .icon-mono-cone:before {
  background-position: -0.20833em -79.54167em;
  width: 1em;
  height: 1em; }

.no-fontface .icon-mono-white.icon-mono-cone:before {
  background-position: -0.20833em -80.95833em;
  width: 1em;
  height: 1em; }

.no-fontface .icon-mono-console:before {
  background-position: -0.20833em -82.375em;
  width: 1em;
  height: 1em; }

.no-fontface .icon-mono-white.icon-mono-console:before {
  background-position: -0.20833em -83.79167em;
  width: 1em;
  height: 1em; }

.no-fontface .icon-mono-contrast:before {
  background-position: -0.20833em -85.20833em;
  width: 1em;
  height: 1em; }

.no-fontface .icon-mono-white.icon-mono-contrast:before {
  background-position: -0.20833em -86.625em;
  width: 1em;
  height: 1em; }

.no-fontface .icon-mono-creditcard:before {
  background-position: -0.20833em -88.04167em;
  width: 1em;
  height: 1em; }

.no-fontface .icon-mono-white.icon-mono-creditcard:before {
  background-position: -0.20833em -89.45833em;
  width: 1em;
  height: 1em; }

.no-fontface .icon-mono-crop:before {
  background-position: -0.20833em -90.875em;
  width: 1em;
  height: 1em; }

.no-fontface .icon-mono-white.icon-mono-crop:before {
  background-position: -0.20833em -92.29167em;
  width: 1em;
  height: 1em; }

.no-fontface .icon-mono-database:before {
  background-position: -0.20833em -93.70833em;
  width: 1em;
  height: 1em; }

.no-fontface .icon-mono-white.icon-mono-database:before {
  background-position: -0.20833em -95.125em;
  width: 1em;
  height: 1em; }

.no-fontface .icon-mono-diary:before {
  background-position: -0.20833em -96.54167em;
  width: 1em;
  height: 1em; }

.no-fontface .icon-mono-white.icon-mono-diary:before {
  background-position: -0.20833em -97.95833em;
  width: 1em;
  height: 1em; }

.no-fontface .icon-mono-disk:before {
  background-position: -0.20833em -99.375em;
  width: 1em;
  height: 1em; }

.no-fontface .icon-mono-white.icon-mono-disk:before {
  background-position: -0.20833em -100.79167em;
  width: 1em;
  height: 1em; }

.no-fontface .icon-mono-dribbble:before {
  background-position: -0.20833em -102.20833em;
  width: 1em;
  height: 1em; }

.no-fontface .icon-mono-white.icon-mono-dribbble:before {
  background-position: -0.20833em -103.625em;
  width: 1em;
  height: 1em; }

.no-fontface .icon-mono-droplet:before {
  background-position: -0.20833em -105.04167em;
  width: 1em;
  height: 1em; }

.no-fontface .icon-mono-white.icon-mono-droplet:before {
  background-position: -0.20833em -106.45833em;
  width: 1em;
  height: 1em; }

.no-fontface .icon-mono-earth:before {
  background-position: -0.20833em -107.875em;
  width: 1em;
  height: 1em; }

.no-fontface .icon-mono-white.icon-mono-earth:before {
  background-position: -0.20833em -109.29167em;
  width: 1em;
  height: 1em; }

.no-fontface .icon-mono-envelope:before {
  background-position: -0.20833em -110.70833em;
  width: 1em;
  height: 1em; }

.no-fontface .icon-mono-white.icon-mono-envelope:before {
  background-position: -0.20833em -112.125em;
  width: 1em;
  height: 1em; }

.no-fontface .icon-mono-eye:before {
  background-position: -0.20833em -113.54167em;
  width: 1em;
  height: 1em; }

.no-fontface .icon-mono-white.icon-mono-eye:before {
  background-position: -0.20833em -114.95833em;
  width: 1em;
  height: 1em; }

.no-fontface .icon-mono-feed:before {
  background-position: -0.20833em -116.375em;
  width: 1em;
  height: 1em; }

.no-fontface .icon-mono-white.icon-mono-feed:before {
  background-position: -0.20833em -117.79167em;
  width: 1em;
  height: 1em; }

.no-fontface .icon-mono-file:before {
  background-position: -0.20833em -119.20833em;
  width: 1em;
  height: 1em; }

.no-fontface .icon-mono-white.icon-mono-file:before {
  background-position: -0.20833em -120.625em;
  width: 1em;
  height: 1em; }

.no-fontface .icon-mono-film:before {
  background-position: -0.20833em -122.04167em;
  width: 1em;
  height: 1em; }

.no-fontface .icon-mono-white.icon-mono-film:before {
  background-position: -0.20833em -123.45833em;
  width: 1em;
  height: 1em; }

.no-fontface .icon-mono-filter:before {
  background-position: -0.20833em -124.875em;
  width: 1em;
  height: 1em; }

.no-fontface .icon-mono-white.icon-mono-filter:before {
  background-position: -0.20833em -126.29167em;
  width: 1em;
  height: 1em; }

.no-fontface .icon-mono-flag:before {
  background-position: -0.20833em -127.70833em;
  width: 1em;
  height: 1em; }

.no-fontface .icon-mono-white.icon-mono-flag:before {
  background-position: -0.20833em -129.125em;
  width: 1em;
  height: 1em; }

.no-fontface .icon-mono-floppy:before {
  background-position: -0.20833em -130.54167em;
  width: 1em;
  height: 1em; }

.no-fontface .icon-mono-white.icon-mono-floppy:before {
  background-position: -0.20833em -131.95833em;
  width: 1em;
  height: 1em; }

.no-fontface .icon-mono-folder:before {
  background-position: -0.20833em -133.375em;
  width: 1em;
  height: 1em; }

.no-fontface .icon-mono-white.icon-mono-folder:before {
  background-position: -0.20833em -134.79167em;
  width: 1em;
  height: 1em; }

.no-fontface .icon-mono-forrst:before {
  background-position: -0.20833em -136.20833em;
  width: 1em;
  height: 1em; }

.no-fontface .icon-mono-white.icon-mono-forrst:before {
  background-position: -0.20833em -137.625em;
  width: 1em;
  height: 1em; }

.no-fontface .icon-mono-forward:before {
  background-position: -0.20833em -139.04167em;
  width: 1em;
  height: 1em; }

.no-fontface .icon-mono-white.icon-mono-forward:before {
  background-position: -0.20833em -140.45833em;
  width: 1em;
  height: 1em; }

.no-fontface .icon-mono-frame:before {
  background-position: -0.20833em -141.875em;
  width: 1em;
  height: 1em; }

.no-fontface .icon-mono-white.icon-mono-frame:before {
  background-position: -0.20833em -143.29167em;
  width: 1em;
  height: 1em; }

.no-fontface .icon-mono-gift:before {
  background-position: -0.20833em -144.70833em;
  width: 1em;
  height: 1em; }

.no-fontface .icon-mono-white.icon-mono-gift:before {
  background-position: -0.20833em -146.125em;
  width: 1em;
  height: 1em; }

.no-fontface .icon-mono-grid:before {
  background-position: -0.20833em -147.54167em;
  width: 1em;
  height: 1em; }

.no-fontface .icon-mono-white.icon-mono-grid:before {
  background-position: -0.20833em -148.95833em;
  width: 1em;
  height: 1em; }

.no-fontface .icon-mono-headphones:before {
  background-position: -0.20833em -150.375em;
  width: 1em;
  height: 1em; }

.no-fontface .icon-mono-white.icon-mono-headphones:before {
  background-position: -0.20833em -151.79167em;
  width: 1em;
  height: 1em; }

.no-fontface .icon-mono-heart:before {
  background-position: -0.20833em -153.20833em;
  width: 1em;
  height: 1em; }

.no-fontface .icon-mono-white.icon-mono-heart:before {
  background-position: -0.20833em -154.625em;
  width: 1em;
  height: 1em; }

.no-fontface .icon-mono-home:before {
  background-position: -0.20833em -156.04167em;
  width: 1em;
  height: 1em; }

.no-fontface .icon-mono-white.icon-mono-home:before {
  background-position: -0.20833em -157.45833em;
  width: 1em;
  height: 1em; }

.no-fontface .icon-mono-inbox:before {
  background-position: -0.20833em -158.875em;
  width: 1em;
  height: 1em; }

.no-fontface .icon-mono-white.icon-mono-inbox:before {
  background-position: -0.20833em -160.29167em;
  width: 1em;
  height: 1em; }

.no-fontface .icon-mono-info:before {
  background-position: -0.20833em -161.70833em;
  width: 1em;
  height: 1em; }

.no-fontface .icon-mono-white.icon-mono-info:before {
  background-position: -0.20833em -163.125em;
  width: 1em;
  height: 1em; }

.no-fontface .icon-mono-ipod:before {
  background-position: -0.20833em -164.54167em;
  width: 1em;
  height: 1em; }

.no-fontface .icon-mono-white.icon-mono-ipod:before {
  background-position: -0.20833em -165.95833em;
  width: 1em;
  height: 1em; }

.no-fontface .icon-mono-key:before {
  background-position: -0.20833em -167.375em;
  width: 1em;
  height: 1em; }

.no-fontface .icon-mono-white.icon-mono-key:before {
  background-position: -0.20833em -168.79167em;
  width: 1em;
  height: 1em; }

.no-fontface .icon-mono-keyboard:before {
  background-position: -0.20833em -170.20833em;
  width: 1em;
  height: 1em; }

.no-fontface .icon-mono-white.icon-mono-keyboard:before {
  background-position: -0.20833em -171.625em;
  width: 1em;
  height: 1em; }

.no-fontface .icon-mono-lamp:before {
  background-position: -0.20833em -173.04167em;
  width: 1em;
  height: 1em; }

.no-fontface .icon-mono-white.icon-mono-lamp:before {
  background-position: -0.20833em -174.45833em;
  width: 1em;
  height: 1em; }

.no-fontface .icon-mono-list:before {
  background-position: -0.20833em -175.875em;
  width: 1em;
  height: 1em; }

.no-fontface .icon-mono-white.icon-mono-list:before {
  background-position: -0.20833em -177.29167em;
  width: 1em;
  height: 1em; }

.no-fontface .icon-mono-location:before {
  background-position: -0.20833em -178.70833em;
  width: 1em;
  height: 1em; }

.no-fontface .icon-mono-white.icon-mono-location:before {
  background-position: -0.20833em -180.125em;
  width: 1em;
  height: 1em; }

.no-fontface .icon-mono-location2:before {
  background-position: -0.20833em -181.54167em;
  width: 1em;
  height: 1em; }

.no-fontface .icon-mono-white.icon-mono-location2:before {
  background-position: -0.20833em -182.95833em;
  width: 1em;
  height: 1em; }

.no-fontface .icon-mono-locked:before {
  background-position: -0.20833em -184.375em;
  width: 1em;
  height: 1em; }

.no-fontface .icon-mono-white.icon-mono-locked:before {
  background-position: -0.20833em -185.79167em;
  width: 1em;
  height: 1em; }

.no-fontface .icon-mono-mic:before {
  background-position: -0.20833em -187.20833em;
  width: 1em;
  height: 1em; }

.no-fontface .icon-mono-white.icon-mono-mic:before {
  background-position: -0.20833em -188.625em;
  width: 1em;
  height: 1em; }

.no-fontface .icon-mono-minus:before {
  background-position: -0.20833em -190.04167em;
  width: 1em;
  height: 1em; }

.no-fontface .icon-mono-white.icon-mono-minus:before {
  background-position: -0.20833em -191.45833em;
  width: 1em;
  height: 1em; }

.no-fontface .icon-mono-mobile:before {
  background-position: -0.20833em -192.875em;
  width: 1em;
  height: 1em; }

.no-fontface .icon-mono-white.icon-mono-mobile:before {
  background-position: -0.20833em -194.29167em;
  width: 1em;
  height: 1em; }

.no-fontface .icon-mono-monitor:before {
  background-position: -0.20833em -195.70833em;
  width: 1em;
  height: 1em; }

.no-fontface .icon-mono-white.icon-mono-monitor:before {
  background-position: -0.20833em -197.125em;
  width: 1em;
  height: 1em; }

.no-fontface .icon-mono-mouse:before {
  background-position: -0.20833em -198.54167em;
  width: 1em;
  height: 1em; }

.no-fontface .icon-mono-white.icon-mono-mouse:before {
  background-position: -0.20833em -199.95833em;
  width: 1em;
  height: 1em; }

.no-fontface .icon-mono-move:before {
  background-position: -0.20833em -201.375em;
  width: 1em;
  height: 1em; }

.no-fontface .icon-mono-white.icon-mono-move:before {
  background-position: -0.20833em -202.79167em;
  width: 1em;
  height: 1em; }

.no-fontface .icon-mono-music:before {
  background-position: -0.20833em -204.20833em;
  width: 1em;
  height: 1em; }

.no-fontface .icon-mono-white.icon-mono-music:before {
  background-position: -0.20833em -205.625em;
  width: 1em;
  height: 1em; }

.no-fontface .icon-mono-paperclip:before {
  background-position: -0.20833em -207.04167em;
  width: 1em;
  height: 1em; }

.no-fontface .icon-mono-white.icon-mono-paperclip:before {
  background-position: -0.20833em -208.45833em;
  width: 1em;
  height: 1em; }

.no-fontface .icon-mono-pause:before {
  background-position: -0.20833em -209.875em;
  width: 1em;
  height: 1em; }

.no-fontface .icon-mono-white.icon-mono-pause:before {
  background-position: -0.20833em -211.29167em;
  width: 1em;
  height: 1em; }

.no-fontface .icon-mono-pencil:before {
  background-position: -0.20833em -212.70833em;
  width: 1em;
  height: 1em; }

.no-fontface .icon-mono-white.icon-mono-pencil:before {
  background-position: -0.20833em -214.125em;
  width: 1em;
  height: 1em; }

.no-fontface .icon-mono-phone:before {
  background-position: -0.20833em -215.54167em;
  width: 1em;
  height: 1em; }

.no-fontface .icon-mono-white.icon-mono-phone:before {
  background-position: -0.20833em -216.95833em;
  width: 1em;
  height: 1em; }

.no-fontface .icon-mono-picture:before {
  background-position: -0.20833em -218.375em;
  width: 1em;
  height: 1em; }

.no-fontface .icon-mono-white.icon-mono-picture:before {
  background-position: -0.20833em -219.79167em;
  width: 1em;
  height: 1em; }

.no-fontface .icon-mono-play:before {
  background-position: -0.20833em -221.20833em;
  width: 1em;
  height: 1em; }

.no-fontface .icon-mono-white.icon-mono-play:before {
  background-position: -0.20833em -222.625em;
  width: 1em;
  height: 1em; }

.no-fontface .icon-mono-plus:before {
  background-position: -0.20833em -224.04167em;
  width: 1em;
  height: 1em; }

.no-fontface .icon-mono-white.icon-mono-plus:before {
  background-position: -0.20833em -225.45833em;
  width: 1em;
  height: 1em; }

.no-fontface .icon-mono-pointer:before {
  background-position: -0.20833em -226.875em;
  width: 1em;
  height: 1em; }

.no-fontface .icon-mono-white.icon-mono-pointer:before {
  background-position: -0.20833em -228.29167em;
  width: 1em;
  height: 1em; }

.no-fontface .icon-mono-refresh:before {
  background-position: -0.20833em -229.70833em;
  width: 1em;
  height: 1em; }

.no-fontface .icon-mono-white.icon-mono-refresh:before {
  background-position: -0.20833em -231.125em;
  width: 1em;
  height: 1em; }

.no-fontface .icon-mono-search:before {
  background-position: -0.20833em -232.54167em;
  width: 1em;
  height: 1em; }

.no-fontface .icon-mono-white.icon-mono-search:before {
  background-position: -0.20833em -233.95833em;
  width: 1em;
  height: 1em; }

.no-fontface .icon-mono-shit:before {
  background-position: -0.20833em -235.375em;
  width: 1em;
  height: 1em; }

.no-fontface .icon-mono-white.icon-mono-shit:before {
  background-position: -0.20833em -236.79167em;
  width: 1em;
  height: 1em; }

.no-fontface .icon-mono-skype:before {
  background-position: -0.20833em -238.20833em;
  width: 1em;
  height: 1em; }

.no-fontface .icon-mono-white.icon-mono-skype:before {
  background-position: -0.20833em -239.625em;
  width: 1em;
  height: 1em; }

.no-fontface .icon-mono-smiley:before {
  background-position: -0.20833em -241.04167em;
  width: 1em;
  height: 1em; }

.no-fontface .icon-mono-white.icon-mono-smiley:before {
  background-position: -0.20833em -242.45833em;
  width: 1em;
  height: 1em; }

.no-fontface .icon-mono-star:before {
  background-position: -0.20833em -243.875em;
  width: 1em;
  height: 1em; }

.no-fontface .icon-mono-white.icon-mono-star:before {
  background-position: -0.20833em -245.29167em;
  width: 1em;
  height: 1em; }

.no-fontface .icon-mono-star2:before {
  background-position: -0.20833em -246.70833em;
  width: 1em;
  height: 1em; }

.no-fontface .icon-mono-white.icon-mono-star2:before {
  background-position: -0.20833em -248.125em;
  width: 1em;
  height: 1em; }

.no-fontface .icon-mono-stats:before {
  background-position: -0.20833em -249.54167em;
  width: 1em;
  height: 1em; }

.no-fontface .icon-mono-white.icon-mono-stats:before {
  background-position: -0.20833em -250.95833em;
  width: 1em;
  height: 1em; }

.no-fontface .icon-mono-stop:before {
  background-position: -0.20833em -252.375em;
  width: 1em;
  height: 1em; }

.no-fontface .icon-mono-white.icon-mono-stop:before {
  background-position: -0.20833em -253.79167em;
  width: 1em;
  height: 1em; }

.no-fontface .icon-mono-switch:before {
  background-position: -0.20833em -255.20833em;
  width: 1em;
  height: 1em; }

.no-fontface .icon-mono-white.icon-mono-switch:before {
  background-position: -0.20833em -256.625em;
  width: 1em;
  height: 1em; }

.no-fontface .icon-mono-tag:before {
  background-position: -0.20833em -258.04167em;
  width: 1em;
  height: 1em; }

.no-fontface .icon-mono-white.icon-mono-tag:before {
  background-position: -0.20833em -259.45833em;
  width: 1em;
  height: 1em; }

.no-fontface .icon-mono-target:before {
  background-position: -0.20833em -260.875em;
  width: 1em;
  height: 1em; }

.no-fontface .icon-mono-white.icon-mono-target:before {
  background-position: -0.20833em -262.29167em;
  width: 1em;
  height: 1em; }

.no-fontface .icon-mono-target2:before {
  background-position: -0.20833em -263.70833em;
  width: 1em;
  height: 1em; }

.no-fontface .icon-mono-white.icon-mono-target2:before {
  background-position: -0.20833em -265.125em;
  width: 1em;
  height: 1em; }

.no-fontface .icon-mono-target3:before {
  background-position: -0.20833em -266.54167em;
  width: 1em;
  height: 1em; }

.no-fontface .icon-mono-white.icon-mono-target3:before {
  background-position: -0.20833em -267.95833em;
  width: 1em;
  height: 1em; }

.no-fontface .icon-mono-thumbsdown:before {
  background-position: -0.20833em -269.375em;
  width: 1em;
  height: 1em; }

.no-fontface .icon-mono-white.icon-mono-thumbsdown:before {
  background-position: -0.20833em -270.79167em;
  width: 1em;
  height: 1em; }

.no-fontface .icon-mono-thumbsup:before {
  background-position: -0.20833em -272.20833em;
  width: 1em;
  height: 1em; }

.no-fontface .icon-mono-white.icon-mono-thumbsup:before {
  background-position: -0.20833em -273.625em;
  width: 1em;
  height: 1em; }

.no-fontface .icon-mono-trashcan:before {
  background-position: -0.20833em -275.04167em;
  width: 1em;
  height: 1em; }

.no-fontface .icon-mono-white.icon-mono-trashcan:before {
  background-position: -0.20833em -276.45833em;
  width: 1em;
  height: 1em; }

.no-fontface .icon-mono-trophy:before {
  background-position: -0.20833em -277.875em;
  width: 1em;
  height: 1em; }

.no-fontface .icon-mono-white.icon-mono-trophy:before {
  background-position: -0.20833em -279.29167em;
  width: 1em;
  height: 1em; }

.no-fontface .icon-mono-twitter:before {
  background-position: -0.20833em -280.70833em;
  width: 1em;
  height: 1em; }

.no-fontface .icon-mono-white.icon-mono-twitter:before {
  background-position: -0.20833em -282.125em;
  width: 1em;
  height: 1em; }

@font-face {
  font-family: "icons_monochrome";
  src: url('../fonts/icons_monochrome.eot');
  src: url('../fonts/icons_monochrome.eot?#iefix') format('embedded-opentype'), url('../fonts/icons_monochrome.woff') format('woff'), url('../fonts/icons_monochrome.ttf') format('truetype'), url('../fonts/icons_monochrome.svg#icons_monochrome') format('svg');
  font-weight: normal;
  font-style: normal; }

.fontface .icon-mono:before {
  display: inline-block;
  font-family: "icons_monochrome";
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-mono-addressbook:before {
  content: "\E001"; }

.icon-mono-alarm:before {
  content: "\E002"; }

.icon-mono-ampersand:before {
  content: "\E003"; }

.icon-mono-apple:before {
  content: "\E004"; }

.icon-mono-atom:before {
  content: "\E005"; }

.icon-mono-basket:before {
  content: "\E006"; }

.icon-mono-battery:before {
  content: "\E007"; }

.icon-mono-blocked:before {
  content: "\E008"; }

.icon-mono-bolt:before {
  content: "\E009"; }

.icon-mono-bookmark:before {
  content: "\E00A"; }

.icon-mono-bookmark2:before {
  content: "\E00B"; }

.icon-mono-briefcase:before {
  content: "\E00C"; }

.icon-mono-bug:before {
  content: "\E00D"; }

.icon-mono-button:before {
  content: "\E00E"; }

.icon-mono-calendar:before {
  content: "\E00F"; }

.icon-mono-camera:before {
  content: "\E010"; }

.icon-mono-camera2:before {
  content: "\E011"; }

.icon-mono-cancel:before {
  content: "\E012"; }

.icon-mono-cart:before {
  content: "\E013"; }

.icon-mono-chart:before {
  content: "\E014"; }

.icon-mono-checkmark:before {
  content: "\E015"; }

.icon-mono-clock:before {
  content: "\E016"; }

.icon-mono-cloud:before {
  content: "\E017"; }

.icon-mono-code:before {
  content: "\E018"; }

.icon-mono-coffee:before {
  content: "\E019"; }

.icon-mono-cog:before {
  content: "\E01A"; }

.icon-mono-comment:before {
  content: "\E01B"; }

.icon-mono-compass:before {
  content: "\E01C"; }

.icon-mono-cone:before {
  content: "\E01D"; }

.icon-mono-console:before {
  content: "\E01E"; }

.icon-mono-contrast:before {
  content: "\E01F"; }

.icon-mono-creditcard:before {
  content: "\E020"; }

.icon-mono-crop:before {
  content: "\E021"; }

.icon-mono-database:before {
  content: "\E022"; }

.icon-mono-diary:before {
  content: "\E023"; }

.icon-mono-disk:before {
  content: "\E024"; }

.icon-mono-dribbble:before {
  content: "\E025"; }

.icon-mono-droplet:before {
  content: "\E026"; }

.icon-mono-earth:before {
  content: "\E027"; }

.icon-mono-envelope:before {
  content: "\E028"; }

.icon-mono-eye:before {
  content: "\E029"; }

.icon-mono-feed:before {
  content: "\E02A"; }

.icon-mono-file:before {
  content: "\E02B"; }

.icon-mono-film:before {
  content: "\E02C"; }

.icon-mono-filter:before {
  content: "\E02D"; }

.icon-mono-flag:before {
  content: "\E02E"; }

.icon-mono-floppy:before {
  content: "\E02F"; }

.icon-mono-folder:before {
  content: "\E030"; }

.icon-mono-forrst:before {
  content: "\E031"; }

.icon-mono-forward:before {
  content: "\E032"; }

.icon-mono-frame:before {
  content: "\E033"; }

.icon-mono-gift:before {
  content: "\E034"; }

.icon-mono-grid:before {
  content: "\E035"; }

.icon-mono-headphones:before {
  content: "\E036"; }

.icon-mono-heart:before {
  content: "\E037"; }

.icon-mono-home:before {
  content: "\E038"; }

.icon-mono-inbox:before {
  content: "\E039"; }

.icon-mono-info:before {
  content: "\E03A"; }

.icon-mono-ipod:before {
  content: "\E03B"; }

.icon-mono-key:before {
  content: "\E03C"; }

.icon-mono-keyboard:before {
  content: "\E03D"; }

.icon-mono-lamp:before {
  content: "\E03E"; }

.icon-mono-list:before {
  content: "\E03F"; }

.icon-mono-location:before {
  content: "\E040"; }

.icon-mono-location2:before {
  content: "\E041"; }

.icon-mono-locked:before {
  content: "\E042"; }

.icon-mono-mic:before {
  content: "\E043"; }

.icon-mono-minus:before {
  content: "\E044"; }

.icon-mono-mobile:before {
  content: "\E045"; }

.icon-mono-monitor:before {
  content: "\E046"; }

.icon-mono-mouse:before {
  content: "\E047"; }

.icon-mono-move:before {
  content: "\E048"; }

.icon-mono-music:before {
  content: "\E049"; }

.icon-mono-paperclip:before {
  content: "\E04A"; }

.icon-mono-pause:before {
  content: "\E04B"; }

.icon-mono-pencil:before {
  content: "\E04C"; }

.icon-mono-phone:before {
  content: "\E04D"; }

.icon-mono-picture:before {
  content: "\E04E"; }

.icon-mono-play:before {
  content: "\E04F"; }

.icon-mono-plus:before {
  content: "\E050"; }

.icon-mono-pointer:before {
  content: "\E051"; }

.icon-mono-refresh:before {
  content: "\E052"; }

.icon-mono-search:before {
  content: "\E053"; }

.icon-mono-shit:before {
  content: "\E054"; }

.icon-mono-skype:before {
  content: "\E055"; }

.icon-mono-smiley:before {
  content: "\E056"; }

.icon-mono-star:before {
  content: "\E057"; }

.icon-mono-star2:before {
  content: "\E058"; }

.icon-mono-stats:before {
  content: "\E059"; }

.icon-mono-stop:before {
  content: "\E05A"; }

.icon-mono-switch:before {
  content: "\E05B"; }

.icon-mono-tag:before {
  content: "\E05C"; }

.icon-mono-target:before {
  content: "\E05D"; }

.icon-mono-target2:before {
  content: "\E05E"; }

.icon-mono-target3:before {
  content: "\E05F"; }

.icon-mono-thumbsdown:before {
  content: "\E060"; }

.icon-mono-thumbsup:before {
  content: "\E061"; }

.icon-mono-trashcan:before {
  content: "\E062"; }

.icon-mono-trophy:before {
  content: "\E063"; }

.icon-mono-twitter:before {
  content: "\E064"; }

.icon-color:before {
  content: ' ';
  vertical-align: middle;
  display: inline-block;
  background-image: url("../sprites/icons_color.svg");
  background-repeat: no-repeat;
  background-size: 2.70833em 270.83333em; }

.no-svg .icon-color:before {
  background-image: url("../sprites/icons_color.png"); }

.icon-color-Alien:before {
  background-position: -0.20833em -0.20833em;
  width: 2.29167em;
  height: 2.29167em; }

.icon-color-Analytics:before {
  background-position: -0.20833em -2.91667em;
  width: 2.29167em;
  height: 2.29167em; }

.icon-color-Apartment:before {
  background-position: -0.20833em -5.625em;
  width: 2.29167em;
  height: 2.29167em; }

.icon-color-Application-Map:before {
  background-position: -0.20833em -8.33333em;
  width: 2.29167em;
  height: 2.29167em; }

.icon-color-Baby-Mobile:before {
  background-position: -0.20833em -11.04167em;
  width: 2.29167em;
  height: 2.29167em; }

.icon-color-Bag-Present:before {
  background-position: -0.20833em -13.75em;
  width: 2.29167em;
  height: 2.29167em; }

.icon-color-Batman:before {
  background-position: -0.20833em -16.45833em;
  width: 2.29167em;
  height: 2.29167em; }

.icon-color-Battery-Charging:before {
  background-position: -0.20833em -19.16667em;
  width: 2.29167em;
  height: 2.29167em; }

.icon-color-Beach:before {
  background-position: -0.20833em -21.875em;
  width: 2.29167em;
  height: 2.29167em; }

.icon-color-Bell:before {
  background-position: -0.20833em -24.58333em;
  width: 2.29167em;
  height: 2.29167em; }

.icon-color-Bonsai:before {
  background-position: -0.20833em -27.29167em;
  width: 2.29167em;
  height: 2.29167em; }

.icon-color-Boss-2:before {
  background-position: -0.20833em -30em;
  width: 2.29167em;
  height: 2.29167em; }

.icon-color-Boss-3:before {
  background-position: -0.20833em -32.70833em;
  width: 2.29167em;
  height: 2.29167em; }

.icon-color-Boss-5:before {
  background-position: -0.20833em -35.41667em;
  width: 2.29167em;
  height: 2.29167em; }

.icon-color-Burglar:before {
  background-position: -0.20833em -38.125em;
  width: 2.29167em;
  height: 2.29167em; }

.icon-color-Bus:before {
  background-position: -0.20833em -40.83333em;
  width: 2.29167em;
  height: 2.29167em; }

.icon-color-Businesswoman-1:before {
  background-position: -0.20833em -43.54167em;
  width: 2.29167em;
  height: 2.29167em; }

.icon-color-Camera-Front:before {
  background-position: -0.20833em -46.25em;
  width: 2.29167em;
  height: 2.29167em; }

.icon-color-Candles:before {
  background-position: -0.20833em -48.95833em;
  width: 2.29167em;
  height: 2.29167em; }

.icon-color-Candy:before {
  background-position: -0.20833em -51.66667em;
  width: 2.29167em;
  height: 2.29167em; }

.icon-color-Canoe:before {
  background-position: -0.20833em -54.375em;
  width: 2.29167em;
  height: 2.29167em; }

.icon-color-Captain-Shield:before {
  background-position: -0.20833em -57.08333em;
  width: 2.29167em;
  height: 2.29167em; }

.icon-color-Car-Jumper:before {
  background-position: -0.20833em -59.79167em;
  width: 2.29167em;
  height: 2.29167em; }

.icon-color-Cashier-2:before {
  background-position: -0.20833em -62.5em;
  width: 2.29167em;
  height: 2.29167em; }

.icon-color-Cement-Mixer:before {
  background-position: -0.20833em -65.20833em;
  width: 2.29167em;
  height: 2.29167em; }

.icon-color-Chair-4:before {
  background-position: -0.20833em -67.91667em;
  width: 2.29167em;
  height: 2.29167em; }

.icon-color-Chat-2:before {
  background-position: -0.20833em -70.625em;
  width: 2.29167em;
  height: 2.29167em; }

.icon-color-Checklist:before {
  background-position: -0.20833em -73.33333em;
  width: 2.29167em;
  height: 2.29167em; }

.icon-color-Cheese:before {
  background-position: -0.20833em -76.04167em;
  width: 2.29167em;
  height: 2.29167em; }

.icon-color-Chef-2:before {
  background-position: -0.20833em -78.75em;
  width: 2.29167em;
  height: 2.29167em; }

.icon-color-Chessboard:before {
  background-position: -0.20833em -81.45833em;
  width: 2.29167em;
  height: 2.29167em; }

.icon-color-Clipboard-Plan:before {
  background-position: -0.20833em -84.16667em;
  width: 2.29167em;
  height: 2.29167em; }

.icon-color-Cloud-Music:before {
  background-position: -0.20833em -86.875em;
  width: 2.29167em;
  height: 2.29167em; }

.icon-color-Cloudy:before {
  background-position: -0.20833em -89.58333em;
  width: 2.29167em;
  height: 2.29167em; }

.icon-color-Coding-Html:before {
  background-position: -0.20833em -92.29167em;
  width: 2.29167em;
  height: 2.29167em; }

.icon-color-Coffin:before {
  background-position: -0.20833em -95em;
  width: 2.29167em;
  height: 2.29167em; }

.icon-color-Conveyor-Belt:before {
  background-position: -0.20833em -97.70833em;
  width: 2.29167em;
  height: 2.29167em; }

.icon-color-Database-Cloud:before {
  background-position: -0.20833em -100.41667em;
  width: 2.29167em;
  height: 2.29167em; }

.icon-color-Desert:before {
  background-position: -0.20833em -103.125em;
  width: 2.29167em;
  height: 2.29167em; }

.icon-color-Dna:before {
  background-position: -0.20833em -105.83333em;
  width: 2.29167em;
  height: 2.29167em; }

.icon-color-Download-Computer:before {
  background-position: -0.20833em -108.54167em;
  width: 2.29167em;
  height: 2.29167em; }

.icon-color-Engagement-Ring:before {
  background-position: -0.20833em -111.25em;
  width: 2.29167em;
  height: 2.29167em; }

.icon-color-Euro-Coin:before {
  background-position: -0.20833em -113.95833em;
  width: 2.29167em;
  height: 2.29167em; }

.icon-color-Eyeglass:before {
  background-position: -0.20833em -116.66667em;
  width: 2.29167em;
  height: 2.29167em; }

.icon-color-Farmer:before {
  background-position: -0.20833em -119.375em;
  width: 2.29167em;
  height: 2.29167em; }

.icon-color-Food-Dome:before {
  background-position: -0.20833em -122.08333em;
  width: 2.29167em;
  height: 2.29167em; }

.icon-color-Furby:before {
  background-position: -0.20833em -124.79167em;
  width: 2.29167em;
  height: 2.29167em; }

.icon-color-Gold-Cart:before {
  background-position: -0.20833em -127.5em;
  width: 2.29167em;
  height: 2.29167em; }

.icon-color-Graph-Magnifier:before {
  background-position: -0.20833em -130.20833em;
  width: 2.29167em;
  height: 2.29167em; }

.icon-color-Hacker:before {
  background-position: -0.20833em -132.91667em;
  width: 2.29167em;
  height: 2.29167em; }

.icon-color-Hat:before {
  background-position: -0.20833em -135.625em;
  width: 2.29167em;
  height: 2.29167em; }

.icon-color-Heart-Watch:before {
  background-position: -0.20833em -138.33333em;
  width: 2.29167em;
  height: 2.29167em; }

.icon-color-Images:before {
  background-position: -0.20833em -141.04167em;
  width: 2.29167em;
  height: 2.29167em; }

.icon-color-Images-Cloud:before {
  background-position: -0.20833em -143.75em;
  width: 2.29167em;
  height: 2.29167em; }

.icon-color-Key:before {
  background-position: -0.20833em -146.45833em;
  width: 2.29167em;
  height: 2.29167em; }

.icon-color-Laptop-Signal:before {
  background-position: -0.20833em -149.16667em;
  width: 2.29167em;
  height: 2.29167em; }

.icon-color-Locked-Cloud:before {
  background-position: -0.20833em -151.875em;
  width: 2.29167em;
  height: 2.29167em; }

.icon-color-Love-Letter:before {
  background-position: -0.20833em -154.58333em;
  width: 2.29167em;
  height: 2.29167em; }

.icon-color-Magician:before {
  background-position: -0.20833em -157.29167em;
  width: 2.29167em;
  height: 2.29167em; }

.icon-color-Makeup:before {
  background-position: -0.20833em -160em;
  width: 2.29167em;
  height: 2.29167em; }

.icon-color-Man-1:before {
  background-position: -0.20833em -162.70833em;
  width: 2.29167em;
  height: 2.29167em; }

.icon-color-Man-14:before {
  background-position: -0.20833em -165.41667em;
  width: 2.29167em;
  height: 2.29167em; }

.icon-color-Man-16:before {
  background-position: -0.20833em -168.125em;
  width: 2.29167em;
  height: 2.29167em; }

.icon-color-Man-6:before {
  background-position: -0.20833em -170.83333em;
  width: 2.29167em;
  height: 2.29167em; }

.icon-color-Man-9-:before {
  background-position: -0.20833em -173.54167em;
  width: 2.29167em;
  height: 2.29167em; }

.icon-color-Medal-2:before {
  background-position: -0.20833em -176.25em;
  width: 2.29167em;
  height: 2.29167em; }

.icon-color-Microchip:before {
  background-position: -0.20833em -178.95833em;
  width: 2.29167em;
  height: 2.29167em; }

.icon-color-Microscope:before {
  background-position: -0.20833em -181.66667em;
  width: 2.29167em;
  height: 2.29167em; }

.icon-color-Mind-Map-Paper:before {
  background-position: -0.20833em -184.375em;
  width: 2.29167em;
  height: 2.29167em; }

.icon-color-Money-Graph:before {
  background-position: -0.20833em -187.08333em;
  width: 2.29167em;
  height: 2.29167em; }

.icon-color-Money-Increase:before {
  background-position: -0.20833em -189.79167em;
  width: 2.29167em;
  height: 2.29167em; }

.icon-color-Music-Equalizer:before {
  background-position: -0.20833em -192.5em;
  width: 2.29167em;
  height: 2.29167em; }

.icon-color-Ninja:before {
  background-position: -0.20833em -195.20833em;
  width: 2.29167em;
  height: 2.29167em; }

.icon-color-Nuclear-Mushroom:before {
  background-position: -0.20833em -197.91667em;
  width: 2.29167em;
  height: 2.29167em; }

.icon-color-Nurse-1:before {
  background-position: -0.20833em -200.625em;
  width: 2.29167em;
  height: 2.29167em; }

.icon-color-Old-Car-2:before {
  background-position: -0.20833em -203.33333em;
  width: 2.29167em;
  height: 2.29167em; }

.icon-color-Online-Shopping:before {
  background-position: -0.20833em -206.04167em;
  width: 2.29167em;
  height: 2.29167em; }

.icon-color-Open-Sign:before {
  background-position: -0.20833em -208.75em;
  width: 2.29167em;
  height: 2.29167em; }

.icon-color-Pantone:before {
  background-position: -0.20833em -211.45833em;
  width: 2.29167em;
  height: 2.29167em; }

.icon-color-Paper-Plane:before {
  background-position: -0.20833em -214.16667em;
  width: 2.29167em;
  height: 2.29167em; }

.icon-color-Rasta:before {
  background-position: -0.20833em -216.875em;
  width: 2.29167em;
  height: 2.29167em; }

.icon-color-Record-Player:before {
  background-position: -0.20833em -219.58333em;
  width: 2.29167em;
  height: 2.29167em; }

.icon-color-Rocker:before {
  background-position: -0.20833em -222.29167em;
  width: 2.29167em;
  height: 2.29167em; }

.icon-color-Santa:before {
  background-position: -0.20833em -225em;
  width: 2.29167em;
  height: 2.29167em; }

.icon-color-Santa-Sled:before {
  background-position: -0.20833em -227.70833em;
  width: 2.29167em;
  height: 2.29167em; }

.icon-color-Settings-2:before {
  background-position: -0.20833em -230.41667em;
  width: 2.29167em;
  height: 2.29167em; }

.icon-color-Shop:before {
  background-position: -0.20833em -233.125em;
  width: 2.29167em;
  height: 2.29167em; }

.icon-color-Smartphone-Message:before {
  background-position: -0.20833em -235.83333em;
  width: 2.29167em;
  height: 2.29167em; }

.icon-color-Soldier-3:before {
  background-position: -0.20833em -238.54167em;
  width: 2.29167em;
  height: 2.29167em; }

.icon-color-Spongebob:before {
  background-position: -0.20833em -241.25em;
  width: 2.29167em;
  height: 2.29167em; }

.icon-color-Street-View:before {
  background-position: -0.20833em -243.95833em;
  width: 2.29167em;
  height: 2.29167em; }

.icon-color-Student-3:before {
  background-position: -0.20833em -246.66667em;
  width: 2.29167em;
  height: 2.29167em; }

.icon-color-Surfer:before {
  background-position: -0.20833em -249.375em;
  width: 2.29167em;
  height: 2.29167em; }

.icon-color-Surgeon:before {
  background-position: -0.20833em -252.08333em;
  width: 2.29167em;
  height: 2.29167em; }

.icon-color-T-Shirt-2:before {
  background-position: -0.20833em -254.79167em;
  width: 2.29167em;
  height: 2.29167em; }

.icon-color-road-worker:before {
  background-position: -0.20833em -257.5em;
  width: 2.29167em;
  height: 2.29167em; }

.icon-color-settings-1:before {
  background-position: -0.20833em -260.20833em;
  width: 2.29167em;
  height: 2.29167em; }

.icon-color-sneakers:before {
  background-position: -0.20833em -262.91667em;
  width: 2.29167em;
  height: 2.29167em; }

.icon-color-soldier:before {
  background-position: -0.20833em -265.625em;
  width: 2.29167em;
  height: 2.29167em; }

.icon-color-student:before {
  background-position: -0.20833em -268.33333em;
  width: 2.29167em;
  height: 2.29167em; }

.icon-bitmap {
  background-image: url('../sprites/icons_bitmap.png'); }

.icon-bitmap-apple3 {
  background-position: -4px -4px;
  width: 512px;
  height: 512px;
  display: inline-block; }

.icon-bitmap-applelisa {
  background-position: -524px -4px;
  width: 512px;
  height: 512px;
  display: inline-block; }

.icon-bitmap-mac2 {
  background-position: -4px -524px;
  width: 512px;
  height: 512px;
  display: inline-block; }

body {
  font-family: sans-serif;
  background: #ddd; }

.row {
  margin-bottom: 30px; }

.no {
  margin-bottom: 20px;
  cursor: pointer; }

.no-1, .no-2 {
  background: green;
  display: inline;
  width: 120px;
  padding: 3px; }

.no-fontface .no-1, .no-svg .no-2 {
  background: red; }
