@font-face {
  font-family: "icons_monochrome";
  src: url('../fonts/icons_monochrome.eot');
  src: url('../fonts/icons_monochrome.eot?#iefix') format('embedded-opentype'),
    url('../fonts/icons_monochrome.woff') format('woff'),
    url('../fonts/icons_monochrome.ttf') format('truetype'),
    url('../fonts/icons_monochrome.svg#icons_monochrome') format('svg');
  font-weight: normal;
  font-style: normal;
}

.fontface .icon-mono {
  font-size: 32px;
}

.fontface .icon-mono-inverted {
  color: white;
}

.fontface .icon-mono:before {
  display: inline-block;
  font-family: "icons_monochrome";
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

  .icon-mono-addressbook:before {
    content: "\E001" 
  }
  .icon-mono-alarm:before {
    content: "\E002" 
  }
  .icon-mono-ampersand:before {
    content: "\E003" 
  }
  .icon-mono-apple:before {
    content: "\E004" 
  }
  .icon-mono-atom:before {
    content: "\E005" 
  }
  .icon-mono-basket:before {
    content: "\E006" 
  }
  .icon-mono-battery:before {
    content: "\E007" 
  }
  .icon-mono-blocked:before {
    content: "\E008" 
  }
  .icon-mono-bolt:before {
    content: "\E009" 
  }
  .icon-mono-bookmark:before {
    content: "\E00A" 
  }
  .icon-mono-bookmark2:before {
    content: "\E00B" 
  }
  .icon-mono-briefcase:before {
    content: "\E00C" 
  }
  .icon-mono-bug:before {
    content: "\E00D" 
  }
  .icon-mono-button:before {
    content: "\E00E" 
  }
  .icon-mono-calendar:before {
    content: "\E00F" 
  }
  .icon-mono-camera:before {
    content: "\E010" 
  }
  .icon-mono-camera2:before {
    content: "\E011" 
  }
  .icon-mono-cancel:before {
    content: "\E012" 
  }
  .icon-mono-cart:before {
    content: "\E013" 
  }
  .icon-mono-chart:before {
    content: "\E014" 
  }
  .icon-mono-checkmark:before {
    content: "\E015" 
  }
  .icon-mono-clock:before {
    content: "\E016" 
  }
  .icon-mono-cloud:before {
    content: "\E017" 
  }
  .icon-mono-code:before {
    content: "\E018" 
  }
  .icon-mono-coffee:before {
    content: "\E019" 
  }
  .icon-mono-cog:before {
    content: "\E01A" 
  }
  .icon-mono-comment:before {
    content: "\E01B" 
  }
  .icon-mono-compass:before {
    content: "\E01C" 
  }
  .icon-mono-cone:before {
    content: "\E01D" 
  }
  .icon-mono-console:before {
    content: "\E01E" 
  }
  .icon-mono-contrast:before {
    content: "\E01F" 
  }
  .icon-mono-creditcard:before {
    content: "\E020" 
  }
  .icon-mono-crop:before {
    content: "\E021" 
  }
  .icon-mono-database:before {
    content: "\E022" 
  }
  .icon-mono-diary:before {
    content: "\E023" 
  }
  .icon-mono-disk:before {
    content: "\E024" 
  }
  .icon-mono-dribbble:before {
    content: "\E025" 
  }
  .icon-mono-droplet:before {
    content: "\E026" 
  }
  .icon-mono-earth:before {
    content: "\E027" 
  }
  .icon-mono-envelope:before {
    content: "\E028" 
  }
  .icon-mono-eye:before {
    content: "\E029" 
  }
  .icon-mono-feed:before {
    content: "\E02A" 
  }
  .icon-mono-file:before {
    content: "\E02B" 
  }
  .icon-mono-film:before {
    content: "\E02C" 
  }
  .icon-mono-filter:before {
    content: "\E02D" 
  }
  .icon-mono-flag:before {
    content: "\E02E" 
  }
  .icon-mono-floppy:before {
    content: "\E02F" 
  }
  .icon-mono-folder:before {
    content: "\E030" 
  }
  .icon-mono-forrst:before {
    content: "\E031" 
  }
  .icon-mono-forward:before {
    content: "\E032" 
  }
  .icon-mono-frame:before {
    content: "\E033" 
  }
  .icon-mono-gift:before {
    content: "\E034" 
  }
  .icon-mono-grid:before {
    content: "\E035" 
  }
  .icon-mono-headphones:before {
    content: "\E036" 
  }
  .icon-mono-heart:before {
    content: "\E037" 
  }
  .icon-mono-home:before {
    content: "\E038" 
  }
  .icon-mono-inbox:before {
    content: "\E039" 
  }
  .icon-mono-info:before {
    content: "\E03A" 
  }
  .icon-mono-ipod:before {
    content: "\E03B" 
  }
  .icon-mono-key:before {
    content: "\E03C" 
  }
  .icon-mono-keyboard:before {
    content: "\E03D" 
  }
  .icon-mono-lamp:before {
    content: "\E03E" 
  }
  .icon-mono-list:before {
    content: "\E03F" 
  }
  .icon-mono-location:before {
    content: "\E040" 
  }
  .icon-mono-location2:before {
    content: "\E041" 
  }
  .icon-mono-locked:before {
    content: "\E042" 
  }
  .icon-mono-mic:before {
    content: "\E043" 
  }
  .icon-mono-minus:before {
    content: "\E044" 
  }
  .icon-mono-mobile:before {
    content: "\E045" 
  }
  .icon-mono-monitor:before {
    content: "\E046" 
  }
  .icon-mono-mouse:before {
    content: "\E047" 
  }
  .icon-mono-move:before {
    content: "\E048" 
  }
  .icon-mono-music:before {
    content: "\E049" 
  }
  .icon-mono-paperclip:before {
    content: "\E04A" 
  }
  .icon-mono-pause:before {
    content: "\E04B" 
  }
  .icon-mono-pencil:before {
    content: "\E04C" 
  }
  .icon-mono-phone:before {
    content: "\E04D" 
  }
  .icon-mono-picture:before {
    content: "\E04E" 
  }
  .icon-mono-play:before {
    content: "\E04F" 
  }
  .icon-mono-plus:before {
    content: "\E050" 
  }
  .icon-mono-pointer:before {
    content: "\E051" 
  }
  .icon-mono-refresh:before {
    content: "\E052" 
  }
  .icon-mono-search:before {
    content: "\E053" 
  }
  .icon-mono-shit:before {
    content: "\E054" 
  }
  .icon-mono-skype:before {
    content: "\E055" 
  }
  .icon-mono-smiley:before {
    content: "\E056" 
  }
  .icon-mono-star:before {
    content: "\E057" 
  }
  .icon-mono-star2:before {
    content: "\E058" 
  }
  .icon-mono-stats:before {
    content: "\E059" 
  }
  .icon-mono-stop:before {
    content: "\E05A" 
  }
  .icon-mono-switch:before {
    content: "\E05B" 
  }
  .icon-mono-tag:before {
    content: "\E05C" 
  }
  .icon-mono-target:before {
    content: "\E05D" 
  }
  .icon-mono-target2:before {
    content: "\E05E" 
  }
  .icon-mono-target3:before {
    content: "\E05F" 
  }
  .icon-mono-thumbsdown:before {
    content: "\E060" 
  }
  .icon-mono-thumbsup:before {
    content: "\E061" 
  }
  .icon-mono-trashcan:before {
    content: "\E062" 
  }
  .icon-mono-trophy:before {
    content: "\E063" 
  }
  .icon-mono-twitter:before {
    content: "\E064" 
  }
  .icon-mono-type:before {
    content: "\E065" 
  }
  .icon-mono-user:before {
    content: "\E066" 
  }
  .icon-mono-volume:before {
    content: "\E067" 
  }
  .icon-mono-volume2:before {
    content: "\E068" 
  }
  .icon-mono-warning:before {
    content: "\E069" 
  }
  .icon-mono-window:before {
    content: "\E06A" 
  }
  .icon-mono-winsows:before {
    content: "\E06B" 
  }
  .icon-mono-wrench:before {
    content: "\E06C" 
  }
