
.icon-bitmap {
  background-image: url('../sprites/icons_bitmap.png');
}
.icon-bitmap-apple3 {
  background-position: -4px -4px;
  width: 512px;
  height: 512px;
  display: inline-block;
}
.icon-bitmap-applelisa {
  background-position: -524px -4px;
  width: 512px;
  height: 512px;
  display: inline-block;
}
.icon-bitmap-mac2 {
  background-position: -4px -524px;
  width: 512px;
  height: 512px;
  display: inline-block;
}
