body {
  font-family: sans-serif; background: #FFA900;
}
small {
  font-size: 0.5em !important;
}

.no {
  margin-bottom: 20px;
}
.no-1, .no-2, .no-3, .no-4, .no-5, .no-6 {
  background: yellow;
  display: inline;
  width: 120px;
  padding: 3px;
}

.no-svg .no-1,
.no-svgasimg .no-2 ,
.no-svgclippaths .no-3,
.no-svgfilters .no-4,
.no-svgforeignobject .no-5,
.no-fontface .no-6
{
    background: red;
}