
.icon-color.icon-color-tiny {
  font-size: 16px;
}
.icon-color.icon-color-small {
  font-size: 24px;
}
.icon-color {
  font-size: 32px;
}
.icon-color.icon-color-big {
  font-size: 48px;
}

.icon-color:before {
  content:' ';
  vertical-align:middle;
  display: inline-block;
  background-image: url("../sprites/icons_color.svg");
  background-repeat: no-repeat;
  background-size: 4.0625em 125.9375em;
}
.no-svg .icon-color:before {
    background-image: url("../sprites/icons_color.png");
}



.icon-color-Rasta:before {
  background-position: -0.3125em -0.3125em;
  width: 3.4375em;
  height: 3.4375em;
}

.icon-color-Record-Player:before {
  background-position: -0.3125em -4.375em;
  width: 3.4375em;
  height: 3.4375em;
}

.icon-color-Road-Worker-1:before {
  background-position: -0.3125em -8.4375em;
  width: 3.4375em;
  height: 3.4375em;
}

.icon-color-Rocker:before {
  background-position: -0.3125em -12.5em;
  width: 3.4375em;
  height: 3.4375em;
}

.icon-color-Santa:before {
  background-position: -0.3125em -16.5625em;
  width: 3.4375em;
  height: 3.4375em;
}

.icon-color-Santa-Sled:before {
  background-position: -0.3125em -20.625em;
  width: 3.4375em;
  height: 3.4375em;
}

.icon-color-Settings-2:before {
  background-position: -0.3125em -24.6875em;
  width: 3.4375em;
  height: 3.4375em;
}

.icon-color-Settings-5:before {
  background-position: -0.3125em -28.75em;
  width: 3.4375em;
  height: 3.4375em;
}

.icon-color-Shop:before {
  background-position: -0.3125em -32.8125em;
  width: 3.4375em;
  height: 3.4375em;
}

.icon-color-Smartphone-Message:before {
  background-position: -0.3125em -36.875em;
  width: 3.4375em;
  height: 3.4375em;
}

.icon-color-Sneakers-2:before {
  background-position: -0.3125em -40.9375em;
  width: 3.4375em;
  height: 3.4375em;
}

.icon-color-Soldier-3:before {
  background-position: -0.3125em -45em;
  width: 3.4375em;
  height: 3.4375em;
}

.icon-color-Spongebob:before {
  background-position: -0.3125em -49.0625em;
  width: 3.4375em;
  height: 3.4375em;
}

.icon-color-Street-View:before {
  background-position: -0.3125em -53.125em;
  width: 3.4375em;
  height: 3.4375em;
}

.icon-color-Student-3:before {
  background-position: -0.3125em -57.1875em;
  width: 3.4375em;
  height: 3.4375em;
}

.icon-color-Surfer:before {
  background-position: -0.3125em -61.25em;
  width: 3.4375em;
  height: 3.4375em;
}

.icon-color-Surgeon:before {
  background-position: -0.3125em -65.3125em;
  width: 3.4375em;
  height: 3.4375em;
}

.icon-color-T-Shirt-2:before {
  background-position: -0.3125em -69.375em;
  width: 3.4375em;
  height: 3.4375em;
}

.icon-color-Tablet-Chart:before {
  background-position: -0.3125em -73.4375em;
  width: 3.4375em;
  height: 3.4375em;
}

.icon-color-Telemarketer-Woman-2:before {
  background-position: -0.3125em -77.5em;
  width: 3.4375em;
  height: 3.4375em;
}

.icon-color-Television-Shelf:before {
  background-position: -0.3125em -81.5625em;
  width: 3.4375em;
  height: 3.4375em;
}

.icon-color-Tower:before {
  background-position: -0.3125em -85.625em;
  width: 3.4375em;
  height: 3.4375em;
}

.icon-color-Vector:before {
  background-position: -0.3125em -89.6875em;
  width: 3.4375em;
  height: 3.4375em;
}

.icon-color-Video-Camera-2:before {
  background-position: -0.3125em -93.75em;
  width: 3.4375em;
  height: 3.4375em;
}

.icon-color-Waitress-1:before {
  background-position: -0.3125em -97.8125em;
  width: 3.4375em;
  height: 3.4375em;
}

.icon-color-Wind-Wheel:before {
  background-position: -0.3125em -101.875em;
  width: 3.4375em;
  height: 3.4375em;
}

.icon-color-Woman-15:before {
  background-position: -0.3125em -105.9375em;
  width: 3.4375em;
  height: 3.4375em;
}

.icon-color-Woman-9:before {
  background-position: -0.3125em -110em;
  width: 3.4375em;
  height: 3.4375em;
}

.icon-color-Wooden-Horse:before {
  background-position: -0.3125em -114.0625em;
  width: 3.4375em;
  height: 3.4375em;
}

.icon-color-Xylophone:before {
  background-position: -0.3125em -118.125em;
  width: 3.4375em;
  height: 3.4375em;
}

.icon-color-Yin-Yang:before {
  background-position: -0.3125em -122.1875em;
  width: 3.4375em;
  height: 3.4375em;
}
