body {
  font-family: sans-serif; background: #ddd;
}
.row {
  margin-bottom: 30px;
}

.no {
  margin-bottom: 20px;
  cursor: pointer;
}
.no-1, .no-2 {
  background: green;
  display: inline;
  width: 120px;
  padding: 3px;
}

.no-fontface .no-1,
.no-svg .no-2 {
  background: red;
}
