<!DOCTYPE html>
<html lang="">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>

  <link rel="stylesheet" href="./css/icons_color.css">
  <link rel="stylesheet" href="./css/style.css">
  <script src="./js/script.js"></script>
</head>
<body>

<div class="no">
<div class="no-1">svg</div>
<div class="no-2">svgasimg</div>
<div class="no-3">svgclippaths</div>
<div class="no-4">svgfilters</div>
<div class="no-5">svgforeignobject</div>
<div class="no-6">fontface</div>
</div>

{#svg}{#normal}
  <span class="{common} {common}-{name}"></span>
{/normal}{/svg}

</body>
</html>

