@font-face {
  font-family: "{{ fontName }}";
  src: url('{{ fontPath }}/{{ fontName }}.eot');
  src: url('{{ fontPath }}/{{ fontName }}.eot?#iefix') format('embedded-opentype'),
    url('{{ fontPath }}/{{ fontName }}.woff') format('woff'),
    url('{{ fontPath }}/{{ fontName }}.ttf') format('truetype'),
    url('{{ fontPath }}/{{ fontName }}.svg#{{ fontName }}') format('svg');
  font-weight: normal;
  font-style: normal;
}

.fontface .{{ className }}.{{ className }}-tiny {
  font-size: 16px;
}
.fontface .{{ className }}.{{ className }}-small {
  font-size: 24px;
}
.fontface .{{ className }} {
  font-size: 32px;
}
.fontface .{{ className }}.{{ className }}-big {
  font-size: 48px;
}

.fontface .{{ className }}-white {
  color: white;
}

.fontface .{{ className }}-gray {
  opacity: 0.5;
}

.fontface .{{ className }}-orange {
  color: #FF8C00;
}
.fontface .{{ className }}-circle {
  background: black;
  border-radius: 100%;
  padding: 0.4em;
}

.fontface .{{ className }}-circle-orange {
  background: #FF8C00;
}

.fontface .{{ className }}:before {
  display: inline-block;
  font-family: "{{ fontName }}";
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

{% for glyph in glyphs %}
  .{{ className }}-{{ glyph.name }}:before {
    content: "\{{ glyph.codepoint }}" 
  }
{% endfor %}