{#common}

.no-fontface .{common}.{common}-tiny {
  font-size: 16px;
}
.no-fontface .{common}.{common}-small {
  font-size: 24px;
}
.no-fontface .{common} {
  font-size: {baseSize}px;
}
.no-fontface .{common}.{common}-big {
  font-size: 48px;
}


.no-fontface .{common}-gray {
  opacity: 0.5;
}
.no-fontface .{common}-orange {
  opacity: 0.7;
}
.no-fontface .{common}-circle {
  background: black;
  border-radius: 100%;
  padding: 10px;
}
.no-fontface .{common}-circle-orange {
  background: #FF8C00;
}

.no-fontface .{common}:before {
  content:' ';
  vertical-align:middle;
  display: inline-block;
  background-image: url("{svgPath}");
  background-repeat: no-repeat;
  background-size: {relWidth}em {relHeight}em;
}
.no-fontface.no-svg .{common}:before {
    background-image: url("{pngPath}");
}

{/common}

{#svg}
{#common}.no-fontface .{common}{/common}-{name}:before {
  background-position: {relPositionX}em {relPositionY}em;
  width: {relWidth}em;
  height: {relHeight}em;
}
{/svg}