<!DOCTYPE html>
<html lang="">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>

  <link rel="stylesheet" href="./css/icons_monochrome_font.css">
  <link rel="stylesheet" href="./css/icons_monochrome_svg_png.css">

  <link rel="stylesheet" href="./css/style.css">
  <script src="./js/script.js"></script>
</head>
<body>

<div class="no">
<div class="no-1">svg</div>
<div class="no-2">svgasimg</div>
<div class="no-3">svgclippaths</div>
<div class="no-4">svgfilters</div>
<div class="no-5">svgforeignobject</div>
<div class="no-6">fontface</div>
</div>

{% for glyph in glyphs %}

<div class="row">
  <span class="icon-mono icon-mono-tiny icon-mono-{{ glyph.name }}"></span>
  <span class="icon-mono icon-mono-tiny icon-mono-white icon-mono-{{ glyph.name }}"></span>
  <span class="icon-mono icon-mono-tiny icon-mono-gray icon-mono-{{ glyph.name }}"></span>
  <span class="icon-mono icon-mono-tiny icon-mono-orange icon-mono-{{ glyph.name }}"></span>
  <span class="icon-mono icon-mono-tiny icon-mono-white icon-mono-circle icon-mono-{{ glyph.name }}"></span>
  <span class="icon-mono icon-mono-tiny icon-mono-white icon-mono-circle icon-mono-circle-orange icon-mono-{{ glyph.name }}"></span>
</div>

<div class="row">
  <span class="icon-mono icon-mono-small icon-mono-{{ glyph.name }}"></span>
  <span class="icon-mono icon-mono-small icon-mono-white icon-mono-{{ glyph.name }}"></span>
  <span class="icon-mono icon-mono-small icon-mono-gray icon-mono-{{ glyph.name }}"></span>
  <span class="icon-mono icon-mono-small icon-mono-orange icon-mono-{{ glyph.name }}"></span>
  <span class="icon-mono icon-mono-small icon-mono-white icon-mono-circle icon-mono-{{ glyph.name }}"></span>
  <span class="icon-mono icon-mono-small icon-mono-white icon-mono-circle icon-mono-circle-orange icon-mono-{{ glyph.name }}"></span>
</div>

<div class="row">
  <span class="icon-mono icon-mono-{{ glyph.name }}"></span>
  <span class="icon-mono icon-mono-white icon-mono-{{ glyph.name }}"></span>
  <span class="icon-mono icon-mono-gray icon-mono-{{ glyph.name }}"></span>
  <span class="icon-mono icon-mono-orange icon-mono-{{ glyph.name }}"></span>
  <span class="icon-mono icon-mono-white icon-mono-circle icon-mono-{{ glyph.name }}"></span>
  <span class="icon-mono icon-mono-white icon-mono-circle icon-mono-circle-orange icon-mono-{{ glyph.name }}"></span>
</div>

<div class="row">
  <span class="icon-mono icon-mono-big icon-mono-{{ glyph.name }}"></span>
  <span class="icon-mono icon-mono-big icon-mono-white icon-mono-{{ glyph.name }}"></span>
  <span class="icon-mono icon-mono-big icon-mono-gray icon-mono-{{ glyph.name }}"></span>
  <span class="icon-mono icon-mono-big icon-mono-orange icon-mono-{{ glyph.name }}"></span>
  <span class="icon-mono icon-mono-big icon-mono-white icon-mono-circle icon-mono-{{ glyph.name }}"></span>
  <span class="icon-mono icon-mono-big icon-mono-white icon-mono-circle icon-mono-circle-orange icon-mono-{{ glyph.name }}"></span>
</div>

{% endfor %}

</body>
</html>



